div.box
    {
        /* display: grid; */
        /* border-bottom: 2px solid black; */
        box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
        -webkit-box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
        -moz-box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
        margin: 0 auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8%;
        margin-bottom: 8%;
        padding: 1%;
    }

h1
    {
      padding: 1%;
    }

p
    {
      padding: 1%;
    }