.box{
    background-color: red;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid black;
    min-height: 200px;
    width: 70%;
}

div.container
    {
    box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
    -webkit-box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
    -moz-box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
    margin: 0 auto;
    margin-top: 50px;
    min-height: 200px;
    width: 95%;
    display: grid;
}

div#container__article-list
    {
        margin-left: 50px;
        margin-right: 50px;
    }

div.container__bottom
    {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 11px;
    }

button
    {
        background: #A149FA;
        width: 89%;
        color: white;
    }

div.article
    {
        border-bottom: 2px solid black;
    }

div#form
    {
        /* display: grid; */
        /* border-bottom: 2px solid black; */
        box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
        -webkit-box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
        -moz-box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.93);
        margin: 0 auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8%;
        margin-bottom: 8%;
    }

form 
    {
        margin-left: 4%;
        margin-bottom: 4%;
    }

h2
    {
        margin-left: 4%;
    }

a

{
    padding: 4%;
}